html,body{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{box-sizing:border-box}
img{width:100%; vertical-align:top;}
a{text-decoration: none; color:#555;}
h1, h2, h3, h4, p, figure{margin:0;}

